a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: black;
}

.darkcolor{
  background-color: #455A64;
}

.icon-size-small{
  font-size: 18px;
  color:white;
}

.cover {
  background: url('https://d13yacurqjgara.cloudfront.net/users/225954/screenshots/2161529/florence_shot.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.darker{
  background-color: #FAFAFA;
  padding-top: 20px;
}

.uppercase{
    text-transform: uppercase;
}

.margin{
    margin-left:50px;
    margin-right: 50px;
}

.padding{
    padding-left:50px;
    padding-right: 50px;
}

.iconlarger{
  font-size: 30px;
}

.iconbig{
  font-size: 80px;
}

.black{
  background-color: #424242;
  color:white;
}

.white{
  color:#424242;
}

.cover-storia{
  background: url('../img/cover3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.cover-map{
  background: url('../img/cover-map.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 75vh;
}

.cover-card{
  background: url('../img/cover-card.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
  margin:0px;
}

/*Global*/

.padding-container{
    padding: 32px;
}

/**ids*/

#log-in :hover{
  cursor: pointer;
}

/*Sidenav*/

.sidenav-disabled{
    font-weight: 100;
    cursor: auto !important;
    height: 56px;
}

.sidenav-disabled:hover{
    background: transparent !important;
}

.sidenav-icon-text{
    position: absolute;
    top: 19px;
    margin-left: 16px;
}

/*Profile*/
.propic-wrapper{
    text-align: center;
}
.propic{
    height: 128px;
    width: 128px;
    background-size: cover;
    border: solid #fff 6px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    border-radius: 64px;
}

.propic-large{
    height: 256px;
    width: 256px;
    background-size: cover;
    border: solid #fff 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    border-radius: 128px;
}

.profile-wrapper{
    margin-top: -64px;
    padding-top: 80px;
}

.edit-profile-wrapper{
    text-align: left;
}